@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.-mt-1 { 
  margin-top: -2px;
}